<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jjapp://draw/ca/main</key>
	<dict>
		<key>Class</key>
		<string>CAViewController</string>
	</dict>
	<key>jjapp://draw/ca/detail</key>
	<dict>
		<key>Class</key>
		<string>CADetailViewController</string>
	</dict>
	<key>jjapp://draw/cg/main</key>
	<dict>
		<key>Class</key>
		<string>CGViewController</string>
	</dict>
	<key>jjapp://draw/cg/detail</key>
	<dict>
		<key>Class</key>
		<string>CGDetailViewController</string>
	</dict>
</dict>
</plist>
